In [ ]:
def USEdb(myc,db_name):
    query = "use " + db_name
    myc.execute(query) 
    print("\n Your database is selected and it is ready for query!!! \n")
    return  


def SHOWtables(myc,db_name): 
    print("Showing tables")
    query = 'show tables'
    myc.execute(query)
    return [k[0] for k in myc]

def get_col_names(myc,table_name):
   
    query = 'describe ' + table_name
    myc.execute(query)
    
    return [k[0] for k in myc] 
 
 
def establish_connection():
    
    import mysql.connector as con
    

    # Database credentials

    mydb = con.connect( 
    host='localhost',                       
    user= 'root',  
    password='1213'
    ) 
    
    return mydb

In [ ]:
def sophis_query():    
    import pandas as pd
  
    
    mydb=establish_connection()

    ## Data base 

    myc= mydb.cursor()         
    query ="show databases;"
    myc.execute(query) 
    my_avail_dbs= [k[0] for k in myc] 
    

    
    print("The following databaseses are available for query")  
    print(my_avail_dbs) 
    
    
    # check if the db_name is in the my_avail_dbs
    while True:
        db_name= input("Which database would you like to access?") 
        if db_name in my_avail_dbs:
            USEdb(myc,db_name)
            break
        else:
            print("please input the correct db name")
            
           
    ### USE database
    
    print("The following tables are available in your " + db_name + " database") 
    
    show_tables=SHOWtables(myc,db_name)
    print(show_tables)
    
    #show_tables= [l.lower() for l in show_tables]

    
    
    while True:
        table_name= input("Which table would you like to access?")  
        if table_name in show_tables:
            print("The following columns are available for query")
            avail_cols=get_col_names(myc,table_name)
            print(avail_cols)
            #avail_cols=[l.lower() for l in avail_cols]
            break
        else:
            print("please input the correct table name")
            
    
    
    
    ## check if the table_name is available in the list of tables
    
     
    column_name = input("Which column would you like to see? (seperate the column name by comma)  ") 
    
    where_cond = input("Enter the where condition if any ..,")
    if where_cond =="":  
        query='select '+ column_name + ' from ' + table_name 
    else:        
        query='select '+ column_name + ' from ' + table_name + ' where ' + where_cond
            
    groupby_cond = input("Enter groupby condition if there is one ")
    
    if groupby_cond != "":
        query =query + ' group by ' + groupby_cond
        having_cond = input("Enter having condition if there is one ")
        
        if having_cond!="":
        
            query= query + ' having ' + having_cond
    
    db_cols=column_name.split(",")
     
    orderby_cond = input("Enter the orderby condition if any ..,")
   
    
    if orderby_cond !="": 
        if orderby_cond in avail_cols:
            query= query + " order by " + orderby_cond
            
    print(query)
    
    myc=mydb.cursor()
    
    myc.execute(query)
    
    res=[k for k in myc]
      
    if column_name=="*":
        db_cols=get_col_names(myc,table_name)
        
    df=pd.DataFrame(res,columns=db_cols)
    
    return df

In [ ]:
def menu():
    print("WELCOME to SQL")
    print("You have the following options")

    print("1. Creating databases")
    print("2. Creating tables")
    print("3. Insert/Delete rows in a tables")
    print("4. Query")
    print("5. Alter table")
    print("6. Drop table ")
    print("7. Quit")

In [ ]:
def create_table():
    
    import pandas as pd

    # Database credentials

    mydb = establish_connection()


    myc= mydb.cursor()         
    query_show ="show databases;"
    myc.execute(query_show) 

    my_avail_dbs=[k[0] for k in myc]

    print("You have following databases already in your server")
    print(my_avail_dbs)
    chosen_db = input("Which database do you want to choose to create a table? ")
    
    query = "use " + chosen_db
    
    myc.execute(query)
    
    new_table = input("What is the name of your new table? ")
    
    cond=True
    i=0
    res=" "
    while cond:
        
        col_name=input("Enter the " + str(i+1) + " column name: ")
        if col_name=="":
            print('You must enter the column name')
            
        col_type=input("Enter the " + str(i+1) + " column data type: ")
        
        if col_type=="":
            col_type="varchar(50)"
            
        col_cons=input("Enter the " + str(i+1) + " column constraint: ")
        if col_cons=="":
            col_cons="NULL"
        
        res=res+ col_name +" " + col_type + " " + col_cons + ","
         
        Y=input("Do you want to enter more columns? Y/N")
        if Y.lower()=="n":
            p_key= input("Enter the primary key")
            res =res + " primary key (" +  p_key + ")" 
            cond=False
            f_key=input("Enter the foreign key if any: ")
            if f_key!="":
                pkey_tab=input("Enter the table at which it is a primary key")
                pkey_col=input("Enter the column name of the reference table key")
                res=res+ ", foreign key (" + f_key +") references " +  pkey_tab + " (" + pkey_col + ")"
            
        i=i+1    
    
    print(res)
    query_table = "create table " + new_table  + " ( "  + res +   ")"
    
    print(query_table)
    
    myc.execute(query_table)
    
    print("Your table has been created")

In [ ]:
def create_db():
     
     
    import pandas as pd

    # Database credentials

    mydb =establish_connection()


    myc= mydb.cursor()        
    query_show ="show databases;"
    myc.execute(query_show) 

    my_avail_dbs=[k[0] for k in myc]

    print("You have following databases already in your server")
    print(my_avail_dbs)    
    
    new_db_name=input("Enter the name of the database you want to create: ")
     
    query= "create database " + new_db_name
    myc.execute(query)
    
    myc.execute(query_show)
    print([k[0] for k in myc])

In [ ]:
def edit_table():
    
    
    import pandas as pd

    # Database credentials

    mydb = establish_connection()


    myc= mydb.cursor()         
    query_show ="show databases;"
    myc.execute(query_show) 

    my_avail_dbs=[k[0] for k in myc]

    print("Following databases can be edited  in your server")
    print(my_avail_dbs)  
    
    chosen_db = input("Which database do you want to choose to edit a table? ")
    
    query = "use " + chosen_db
    
    myc.execute(query)
    
    print("The following tables are available in your " + chosen_db + " database") 
    
    show_tables=SHOWtables(myc,chosen_db)
    print(show_tables)
    
    edit_table = input("Enter the name of the table you want to edit: ")
    
    print("You have the following columns in the table")
    colnames=get_col_names(myc,edit_table)
    LC=len(colnames)
    print(colnames)
   
    
    
    # Insert a new row, delete a row
    
    question = input("Would you like to insert or delete? ")
    if question == "insert":
        print("You have selected to insert, please enter the values inside ()")
      
        val=input("Enter here :  ")
       
        query = "Insert into " + edit_table + " values " +  val
        print(query)
        myc.execute(query) 
        
        
    else:
        print("You have selected to delete")
        where_con = input("Please input where condition")
        
        query = "Delete from " + edit_table + " where " +  where_con
        print(query)
        myc.execute(query)

In [ ]:
def alter_table():
    
    import pandas as pd

    # Database credentials

    mydb =  establish_connection()
    
    myc= mydb.cursor()         
    query_show ="show databases;"
    myc.execute(query_show) 

    my_avail_dbs=[k[0] for k in myc]

    print("Following databases can be edited in your server")
    print(my_avail_dbs)  
    
    chosen_db = input("Which database do you want to choose to alter a table? ")
    
    query = "use " + chosen_db
    
    myc.execute(query)
    
    print("The following tables are available in your " + chosen_db + " database") 
    
    show_tables=SHOWtables(myc,chosen_db)
    print(show_tables)
    
    alter_table = input("Enter the name of the table you want to alter: ")
    
    add_drop = input("Do you want to add or drop? ")
    
    if add_drop == "add":
        col_name = input("What is the name for the column that you want to add? ")
        col_type = input("What is the datatype for the column that you want to add? ")
    
        query = "alter table " + alter_table + " add " +  col_name +" "+ col_type
        print(query)
        myc.execute(query)
        
        print("Successfully added. You have the following columns in the table")
        colnames=get_col_names(myc,alter_table)
        LC=len(colnames)
        print(colnames)
    
    else:
        print("You have the following columns in the table")
        colnames=get_col_names(myc,alter_table)
        LC=len(colnames)
        print(colnames)
        col_name = input("What is the name of the table that you want to drop? ")
        query = "alter table " + alter_table + " drop " +  col_name
        print(query)
        myc.execute(query)
        
        print("You have sucessfully dropped the column")
        print("You have the following columns in the table now")
        colnames=get_col_names(myc,alter_table)
        LC=len(colnames)
        print(colnames)

In [ ]:
def drop_table():
    
    import pandas as pd
    
     # Database credentials

    mydb =  establish_connection()


    myc= mydb.cursor()
    query="show databases"
    myc.execute(query)
 
    print("You have following databases in your server")
    print([k[0] for k in myc])
    chosen_db = input("Which database do you want to choose to delete a table? ")
    
    query = "use " + chosen_db
    
    myc.execute(query)
    
    print("You have the following tables in this database")
    query = "show tables"
    res=myc.execute(query)
    print([k[0] for k in myc])
    
    new_table = input("What is the name of the table you want to drop? ")
    
       
    
    drop_table_query = "drop table " + new_table
    
    myc.execute(drop_table_query)

In [ ]:
cond=True
    
while cond:
    menu()
    c= int(input("Enter your choice:  "))
    
    if c not in range(1,8):
        print("It is a wrong choice!!! ")
        
    else: 
       
        
        if c==1:
            create_db()
            
        elif c==2: 
            create_table()
        
        elif c==3:
            edit_table()
        elif c==4:
            df=sophis_query()
            print(df)
        
            Y=input("Do you want to continue Y or N: ")
            if Y.lower()=="n":
                print("Quitting...")
                cond=False
                
        elif c==5:
            alter_table()
            
        elif c==6:
            drop_table()
        
        elif c==7:
            print("You choose to quit. See you again")
            cond=False

WELCOME to SQL
You have the following options
1. Creating databases
2. Creating tables
3. Insert/Delete rows in a tables
4. Query
5. Alter table
6. Drop table
7. Quit
Enter your choice:  4

ModuleNotFoundError: No module named 'mysql'